
@font-face {
    font-family: 'Mont';
    src: url('../fond/Mont-Regular.eot');
    src: local('../fond/Mont Regular'), local('Mont-Regular'),
        url('../fond/Mont-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fond/Mont-Regular.woff2') format('woff2'),
        url('../fond/Mont-Regular.woff') format('woff'),
        url('../fond/Mont-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url('../fond/Mont-Heavy.eot');
    src: local('../fond/Mont Heavy'), local('Mont-Heavy'),
        url('../fond/Mont-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fond/Mont-Heavy.woff2') format('woff2'),
        url('../fond/Mont-Heavy.woff') format('woff'),
        url('../fond/Mont-Heavy.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url('../fond/Mont-SemiBold.eot');
    src: local('../fond/Mont SemiBold'), local('Mont-SemiBold'),
        url('../fond/Mont-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fond/Mont-SemiBold.woff2') format('woff2'),
        url('../fond/Mont-SemiBold.woff') format('woff'),
        url('../fond/Mont-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url('../fond/Mont-SemiBold.eot');
    src: local('../fond/Mont SemiBold'), local('Mont-SemiBold'),
        url('../fond/Mont-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fond/Mont-SemiBold.woff2') format('woff2'),
        url('../fond/Mont-SemiBold.woff') format('woff'),
        url('../fond/Mont-SemiBold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}







@font-face {
    font-family: 'Mont';
    src: url('Mont-Regular.eot');
    src: local('Mont Regular'), local('Mont-Regular'),
        url('Mont-Regular.eot?#iefix') format('embedded-opentype'),
        url('Mont-Regular.woff2') format('woff2'),
        url('Mont-Regular.woff') format('woff'),
        url('Mont-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url('Mont-Light.eot');
    src: local('Mont Light'), local('Mont-Light'),
        url('Mont-Light.eot?#iefix') format('embedded-opentype'),
        url('Mont-Light.woff2') format('woff2'),
        url('Mont-Light.woff') format('woff'),
        url('Mont-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

